<div class="comment-form">
  <h3 class="comment-form__title">Add a comment</h3>
  <%= form_with model: @comment, url: user_post_comments_url, method: :post, class: 'comment-form__form' do |form| %>
    <%= form.label :text, 'Comment', class: 'comment-form__label' %>
    <%= form.text_area :text, class: 'comment-form__textarea' %>
    <%= form.submit 'Post comment', class: 'comment-form__submit' %>
  <% end %>
</div>
