<main class='container'>
  <h1>Here is a list of users</h1>
  <% if @users.empty? %>
    <p class="empty-message">There are no users in database!!!</p>
  <% else %>
    <ul class='user-list'>
      <% @users.each do |user| %>
        <%= link_to "/users" do %>
          <%= render user %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</main>
