<article class='post'>
  <h3 class='post-title'><%= "#{post.title} by #{post.author.name}"%></h3>
  <div class='post-comments-likes'>
    <span class='post-comments-count'>Comments: <%= post.comments.count%></span>
    <span class='post-likes-count'>&nbsp;&nbsp;&nbsp;Likes: <%= post.likes.count%></span>
  </div>
  <p class='post-text'><%= post.text %></p>
</article>
