.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.users-list {
  list-style: none;
}

.user > h2 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.user-details {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-image img {
  margin-right: 1rem;
  width: 45mm;
  height: 45mm;
  border-radius: 50%;
}

.user-name-and-post {
  width: 90%;
  height: 30mm;
  display: flex;
  flex-direction: column;
  border: 2px solid #151516;
}

.user-name {
  font-size: 1.5rem;
  padding: 2rem 0 0 2rem;
}

.number-of-posts {
  font-size: 1rem;
  align-self: flex-end;
  padding-right: 2rem;
}

/* show user profile styles */
.user {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.user-bio,
.post,
.users-comments {
  display: flex;
  flex-direction: column;
  border: 2px solid #151516;
  padding: 1rem;
  margin-bottom: 1rem;
}

.user-bio-title,
.post-title {
  margin-bottom: 1.2rem;
}

.post-comments-likes {
  align-self: flex-end;
  padding-bottom: 1rem;
}

.button {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  align-self: center;
  margin: 0.5rem 0 2rem 0;
}

.button:hover {
  background-color: #333;
}

/* user posts page */

.user-posts {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 2rem;
}

.empty-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* pagination styling */

.pagination {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 2rem 0;
}

.pagination a:hover:not(.active) {
  background-color: #007bff;
}

.pagination .disabled {
  color: #bbb;
  pointer-events: none;
}

.pagination .previous,
.pagination .next {
  color: black;
  display: inline-block;
  padding: 8px 16px;
}

.pagination .previous.disabled,
.pagination .next.disabled {
  color: #bbb;
  pointer-events: none;
}
